<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Expense</th>
            <th scope="col">Add</th>
            <th scope="col">Total Expenses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="studentOne.name">
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Add Expense" [(ngModel)]="personalExpenseOne">
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="addExpense(1)"><b>+</b></button>
            </td>
            <td>
                <label> ${{ studentOne.debt }} </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="studentTwo.name">
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Add Expense" [(ngModel)]="personalExpenseTwo">
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="addExpense(2)"><b>+</b></button>
            </td>
            <td>
                <label> ${{ studentTwo.debt}} </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="studentThree.name">
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Add Expense" [(ngModel)]="personalExpenseThree">
            </td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="addExpense(3)"><b>+</b></button>
            </td>
            <td>
                <label> ${{ studentThree.debt}} </label>
            </td>
        </tr>
     
    </tbody>
</table>

<div class="col text-center">
<button type="button" class="btn btn-outline-primary btn-lg" (click)="calculate()">Calculate</button>
</div>


<div class="alert alert-info text-center m-3" role="alert">
    Equalize the financial burden by resolving the following:  {{calculations}}
</div>